.self-aggrandising-quote {
    color: #2a6496;
    font-style: italic;
    font-family: serif;
    padding: 10px;
    background-color: #f8f8f8;
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 22px;
    display: block;
}
.article-body img {
    max-width: 100%;
}
