
directories:
  post-index: app/posts/index.yml
  view-scripts: app/view/

routes:
  home:
    url: /
    action: Index
  blog:
    type: regex
    url: /blog/?(?P<slug>[a-zA-Z-0-9/]+)?
    action: Blog
  contact:
    url: 

database:
  dsn: mysql:host=localhost;dbname=REPLACEME
  username: REPLACEME
  password: REPLACEME
