<?php
declare(strict_types=1);

return [
    'debug' => false,
    \Zend\ConfigAggregator\ConfigAggregator::ENABLE_CACHE => true,

    // Enable this block to see better exception dump with stack trace etc.
//    'templates' => [
//        'map' => [
//            'error/error'   => 'templates/error/debug.phtml',
//        ],
//    ],
//    'elasticsearch' => [
//        'hosts' => [
//            'http://elastic:changeme@elastic.asgrim:9200', // default for Docker
//        ],
//    ],
];
